<div class="page">

    <header>
        <div id="header" class="header">
            <div class="header_content">

                <a class="header_logo" href="{{ url() }}">
                    MojeÚklidovka.cz
                </a>

                <div class="header_right">
                    <nav>
                        <ul id="navigation" class="navigation" role="navigation">
                            <li>
                                <a class="navigation_link" href="/space/reviews">
                                    Recenze
                                </a>
                            </li>
                            <li>
                                <a class="navigation_link" href="/blog">
                                    blog
                                </a>
                            </li>
                            <li>
                                <a class="navigation_link" href="/auth/logout" title="Odhlásit se">
                                    Odhlásit se
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div id="hero" class="hero hero-middle hero-s" style="background-image: url('{{ url() }}/assets/web/img/uklid-domacnosti.jpg')">

        <div class="hero_content js-heroContent is-active">
            <h1 id="heroTitle" class="hero_title">
                {% if model.id %}
                    Upravit článek
                {% else %}
                    Přidat článek
                {% endif %}
            </h1>
        </div>
    </div>

    <div class="bg-grayLight">
        <div class="blogPost">
            <div class="blogPost_content">

                {% if result == 1 %}
                    <div class="is-success space-l">
                        <strong class="cWhite">Článek byl upraven</strong>
                    </div>
                {% endif %}

                <script type="text/javascript">

                    function titleChanged(val) {

                        var heroTitle = document.getElementById('heroTitle');
                        heroTitle.innerHTML = val;
                    }

                    function validateForm() {

                        var errors = 0;

                        var label_title = document.getElementById('label_title');
                        if (document.formBlog.title.value == '' || document.formBlog.title.value == null) {
                            ++errors;
                            label_title.style.color='#f95039';
                        } else {
                            label_title.style.color='#6e6e6e';
                        }

                        var label_introduction = document.getElementById('label_introduction');
                        if (document.formBlog.introduction.value == '' || document.formBlog.introduction.value == null) {
                            ++errors;
                            label_introduction.style.color='#f95039';
                        } else {
                            label_introduction.style.color='#6e6e6e';
                        }

                        {% if not model.id %}
                        var label_photo = document.getElementById('label_photo');
                        if (document.formBlog.photo.value == '' || document.formBlog.photo.value == null) {
                            ++errors;
                            label_photo.style.color='#f95039';
                        } else {
                            label_photo.style.color='#6e6e6e';
                        }
                        {% endif %}

                        var label_text = document.getElementById('label_text');
                        if (document.formBlog.text.value == '' || document.formBlog.text.value == null) {
                            ++errors;
                            label_text.style.color='#f95039';
                        } else {
                            label_text.style.color='#6e6e6e';
                        }


                        if (errors == 0) {
                            document.formBlog.formSubmit.disabled=true;
                            document.formBlog.formSubmit.value='{{ "template.registration_sending" | trans }}';
                        } else {
                            return false;
                        }

                    }
                </script>

                <form enctype="multipart/form-data" class="formStyle formStyle-onWhite" name="formBlog" action="/space/blog{% if model.id %}/{{ model.id }}{% endif %}" method="post" onsubmit="return validateForm()" novalidate="novalidate">
                    <div class="row">
                        <label id="label_title" class="fM" for="title">Titulek:</label>
                        <div class="formStyle_item space-l">
                            <input onKeyUp="titleChanged(this.value)" value="{{ model.title }}" name="title" type="text" id="title">
                        </div>
                    </div>
                    <div class="row">
                        <label id="label_photo" class="fM" for="photo">Hlavní fotografie:  <span class="cGrayLighter">(nejlépe 1920x550px)</span></label>
                        <div class="formStyle_item space-l">
                            <input value="" name="photo" type="file" id="photo">
                        </div>
                    </div>
                    <div class="row">
                        <label id="label_introduction" class="fM" for="introduction">Úvodní text:</label>
                        <div class="formStyle_item space-l">
                            <input value="{{ model.introduction }}" name="introduction" type="text" id="introduction">
                        </div>
                    </div>
                    <div class="row">
                        <label id="label_text" class="fM" for="text">Text:</label>
                        <div class="formStyle_item space-l">
                            <div class="formStyle_fake">
                                <textarea class="editable" name="text" id="text" cols="30" rows="10">{{ model.text }}</textarea>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        var editor = new MediumEditor('.editable', {
                            toolbar: {
                                /* These are the default options for the toolbar,
                                 if nothing is passed this is what is used */
                                allowMultiParagraphSelection: true,
                                buttons: ['h2', 'h3',
                                    {
                                    name: 'p',
                                    action: 'append-b',
                                    aria: 'header type 1',
                                    tagNames: ['p'],
                                    contentDefault: '<p>p</p>',
                                    classList: ['custom-class-h1'],
                                    attrs: {
                                        'data-custom-attr': 'attr-value-h1'
                                    }
                                }, 'bold', 'italic', 'underline', 'unorderedlist', 'orderedlist', 'anchor', 'quote', 'removeFormat'],
                                diffLeft: 0,
                                diffTop: -10,
                                firstButtonClass: 'medium-editor-button-first',
                                lastButtonClass: 'medium-editor-button-last',
                                standardizeSelectionStart: false,
                                static: false,
                                relativeContainer: null
                            },
                            targetBlank: true,
                            placeholder: {
                                text: 'Text článku'
                            }
                        });
                    </script>

                    <button name="formSubmit" type="submit" class="btn btn-block btn-positive">
                        {% if model.id %}
                            Upravit
                        {% else %}
                            Publikovat
                        {% endif %}
                    </button>

                </form>

            </div>
        </div>
    </div>

        {{ footer | raw }}

</div>
                                                                   