<div class="footer">
    <div class="footer_links">
        <a href="{{ url() }}/nase-vize" title="Vize naší pražské úklidové firmy">Naše vize</a>
        <a href="{{ url() }}/uklid-otazky-odpovedi" title="Náš úklid - otázky a odpovědi">Otázky a odpovědi</a>
        <a href="{{ url() }}/kontakt#kariera" title="Hledáte práci v pražské úklidové firmě?">Kariéra</a>
        <!--<a href="{{ url() }}/blog" title="">Blog</a>-->
        <a href="{{ url() }}/kontakt" title="Napište nám co pro Vás můžeme v Praze uklidit">Kontakt</a>
    </div>

    <div class="footerContacts">
        <a class="fM700" href="mailto: info@mojeuklidovka.cz" title="Napište nám.">
            <svg class="icon-social-email" viewBox="0 0 512 512"><use xlink:href="#icon-social-email"></use></svg>
        </a>
        <a class="fM700" target="_blank" href="https://www.facebook.com/mojeuklidovka" title="MojiÚklidovku najdete na facebooku.">
            <svg class="icon-social-facebook" viewBox="0 0 512 512"><use xlink:href="#icon-social-facebook"></use></svg>
        </a>
        <a class="fM700" target="_blank" href="https://twitter.com/mojeuklidovka" title="MojiÚklidovku najdete na twitteru.">
            <svg class="icon-social-twitter" viewBox="0 0 512 512"><use xlink:href="#icon-social-twitter"></use></svg>
        </a>
    </div>

    <div class="footerInfo">
        ©{{ 'now'|date('Y') }} MojeUklidovka.cz, Pod višňovkou 1661/33, Krč, 140 00 Praha 4; <span style="color: #b5ea9a;"><a class="fM700" target="_blank" href="https://icons8.com" title="Free beautiful flat icons">Děkujeme icons8.</a></span>
    </div>
</div>
