<div id="sluzby" class="services">
    <a class="services_item" href="{{ url_route('pageHome') }}" title="Úklid domácností Praha" style="background-image: url('{{ url() }}/assets/web/img/uklid-domacnosti.jpg')">
        <div class="overCentered">
            <svg class="icon icon-home" viewBox="0 0 50 50"><use xlink:href="#icon-home"></use></svg>
            <br>
            Úklid domácností
        </div>
    </a><!--
            --><a class="services_item" href="{{ url_route('pageFlats') }}" title="Úklid bytových domů v Praze" style="background-image: url('{{ url() }}/assets/web/img/uklid-bytovych-domu.jpg')">
        <div class="overCentered">
            <svg class="icon icon-flats" viewBox="0 0 50 50"><use xlink:href="#icon-flats"></use></svg>
            <br>
            Úklid bytových domů
        </div>
    </a><!--
            --><a class="services_item" href="{{ url_route('pageOffice') }}" title="Úklid kanceláří Praha" style="background-image: url('{{ url() }}/assets/web/img/uklid-kancelari.jpg')">
        <div class="overCentered">
            <svg class="icon icon-company" viewBox="0 0 50 50"><use xlink:href="#icon-company"></use></svg>
            <br>
            Úklid kanceláří
        </div>
    </a>
</div>