<div class="page">

    {{ header | raw }}

    <div id="hero" class="hero hero-middle hero-s" style="background-image: url('{{ url() }}/assets/web/img/uklid-objednavka.jpg?{{ appVersion }}')">
        <div class="hero_content js-heroContent is-active">
            <h1 class="hero_title">Nezávazná poptávka úklidu</h1>
            <p class="hero_text">Dopřejeme Vám bez námahy radost z čistého prostředí.</p>
        </div>
    </div>

    <div class="page_content">
        <div class="section">
            <div class="content content-s u-center">
                <h2 class="fs-xxl fNunito cBlue space-xl">Rádi Vám pomůžeme s úklidem kanceláří, komerčních prostor, domácností nebo bytových domů v Praze.</h2>
                <p>Stačí pouze vyplnit jednoduchý formulář níže a my Vás budeme obratem kontaktovat. Pokud preferujete telefonní kontakt, můžete úklid poptat na čísle <a href="tel:+420774510686" title="Zavolejte si MojiÚklidovku."><strong class="fNunito">+420 774 510 686</strong></a>.</p>
            </div>
        </div>

        <form action="{{ route('orderSubmit') }}" method="post" onsubmit="return submitUserForm()">

            <div class="section section-l bg-grayLight formStyle">
                <div class="content content-s space-xl">
                    {% if data.success %}
                        <div class="u-center" style="height: 500px;">
                            <h3 class="fs-xl fNunito cGreen space-xl">Vaše objednávka byla úspěšně odeslána. Děkujeme.</h3>
                        </div>
                    {% else %}
                        {% if errors.any %}
                            {% for error in errors.all %}
                                <div class="u-center">
                                    <p class="fs-xxl cNegative">{{ error }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <div class="formOrder space-xl">
                            <div class="space-xxl u-center">
                                <h3 class="fs-xl fNunito cGreen space-xl">Vyberte typ úklidu</h3>
                                <div class="formOrder_item">
                                    <input type="radio" name="type" id="type-company" value="Komerční prostor" class="hidden" {% if not Input.old('type') %}checked{% endif %} {% if Input.old('type') == 'Komerční prostor' %}checked{% endif %}>
                                    <label for="type-company" class="formOrder_box">
                                        <svg class="icon icon-company" viewBox="0 0 50 50"><use xlink:href="#icon-company"></use></svg>
                                        <br>
                                        Firma
                                    </label>
                                    <div class="fs-xs fNunito cGray space-xs">od 1&nbsp;450,-&nbsp;Kč / měsíčně<br>- týdenní úklid<br>od 0,5 do 1,9 Kč/m² - denní úklid</div>
                                    <a target="_blank" class="formOrder_more" href="{{ url_route('pageOffice') }}" title="Detail našich úklidových služeb pro komerční prostory v Praze.">Více o úklidu komerčních prostor.</a>
                                </div>
                                <div class="formOrder_item">
                                    <input type="radio" name="type" id="type-flat" value="Bytový dům" class="hidden" {% if Input.old('type') == 'Bytový dům' %}checked{% endif %}>
                                    <label for="type-flat" class="formOrder_box">
                                        <svg class="icon icon-flats" viewBox="0 0 50 50"><use xlink:href="#icon-flats"></use></svg>
                                        <br>
                                        Bytový dům
                                    </label>
                                    <div class="fs-xs fNunito cGray space-xs">od 2 400,- Kč / měsíčně<br>- týdenní úklid</div>
                                    <a target="_blank" class="formOrder_more" href="{{ url_route('pageFloor') }}" title="Detail našich úklidových služeb pro bytové domy v Praze.">Více o úklidu bytových domů.</a>
                                </div>
                                <div class="formOrder_item">
                                    <input  type="radio" name="type" id="type-home" value="Domácnost" class="hidden" {% if Input.old('type') == 'Domácnost' %}checked{% endif %}>
                                    <label for="type-home" class="formOrder_box">
                                        <svg class="icon icon-home" viewBox="0 0 50 50"><use xlink:href="#icon-home"></use></svg>
                                        <br>
                                        Domácnost
                                    </label>
                                    <div class="fs-xs fNunito cGray space-xs">od 1&nbsp;950,-&nbsp;Kč / měsíčně<br>- týdenní úklid</div>
                                    <a target="_blank" class="formOrder_more" href="{{ url_route('pageHome') }}" title="Detail našich úklidových služeb pro domácnosti v Praze.">Více o úklidu domácností.</a>
                                </div>
                            </div>
                            <div class="space-xxl u-center">
                                <h3 class="fs-xl fNunito cGreen space-xl">Frekvence úklidu</h3>
                                <input type="radio" name="frequency" id="once" value="Pravidelně" class="hidden" checked>
                                <label for="once" class="formOrder_box formOrder_box-line" title="Chcete-li objednat pravidelný úklid, vyberte tuto možnost.">
                                    Pravidelný úklid
                                </label>

                                <span class="formOrder_more" style="position:relative; top: -2em;">Zajišťujeme pouze pravidelné úklidy.</span>
                            </div>
                            <div class="space-xl u-center">
                                <h3 class="fs-xl fNunito cGreen">Kontaktní údaje</h3>
                            </div>
                            <div class="space-xl clearfix">
                                <div class="row row-spaced space-xxl">
                                    <div class="half">
                                        <label for="name" class="fNunito cGray">
                                            Jméno a příjmení:
                                        </label>
                                        <input type="text" name="name" id="name" value="{{ Input.old('name') }}" required="required">
                                    </div><!--
                                --><div class="half">
                                        <label for="company" class="fNunito cGray">
                                            Název společnosti: <small class="cGrayLighter">(nepovinné)</small>
                                        </label>
                                        <input type="text" name="company" id="company" value="{{ Input.old('company') }}">
                                    </div>
                                </div>
                                <div class="row row-spaced space-xxl">
                                    <div class="half">
                                        <label for="email" class="fNunito cGray">
                                            Email:
                                        </label>
                                        <input type="text" name="email" id="email" value="{{ Input.old('email') }}" required="required">
                                    </div><!--
                                --><div class="half">
                                        <label for="phone" class="fNunito cGray">
                                            Telefon:
                                        </label>
                                        <input type="text" name="phone" id="phone" value="{{ Input.old('phone') }}" required="required">
                                    </div>
                                </div>
                            </div>

                            <div class="u-center">
                                <h3 class="fs-xl fNunito cGreen">Podrobnosti o úklidu <small class="cGrayLighter">(nepovinné)</small></h3>
                                <p class="space-xl"><strong>Vaši poptávku vyřídíme rychleji</strong>, pokud nám napíšete více podrobností o místě úklidu, Vašich představách a požadavcích. Děkujeme.</p>
                            </div>
                            <div>
                                <input autocomplete="off" tabindex="-1" type="text" name="description-title" value="" style="display:none !important">
                                <textarea name="description" id="" cols="60" rows="10">{{ Input.old('description') }}</textarea>
                            </div>
                        </div>
                        <div class="g-recaptcha" data-sitekey="6Lekj4EUAAAAAMb7dfM_FytZruOGuUw9LMpE9vV9"></div>
                        <div id="g-recaptcha-error">

                        </div>
                        <div class="u-center">
                            <button class="btn btn-blue" onClick="ga('send', 'event', 'Clicks', 'FooterOrderSubmit', 'web.order');" title="Po odeslání nezávazné poptávky Vás budeme kontaktovat za účelem vypracování cenové nabídky úklidových služeb.">Odeslat poptávku</button>
                        </div>

                    {% endif %}
                </div>

                {% if data.success %}

                    <!-- Google Code for Objednávka úklidu - web Conversion Page -->
                    <script type="text/javascript">
                        /* <![CDATA[ */
                        var google_conversion_id = 946422194;
                        var google_conversion_language = "en";
                        var google_conversion_format = "3";
                        var google_conversion_color = "ffffff";
                        var google_conversion_label = "Hfn2CNDi1GYQsoOlwwM";
                        var google_remarketing_only = false;
                        /* ]]> */
                    </script>
                    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
                    </script>
                    <noscript>
                        <div style="display:inline;">
                            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/946422194/?label=Hfn2CNDi1GYQsoOlwwM&amp;guid=ON&amp;script=0"/>
                        </div>
                    </noscript>

                    <!-- Měřicí kód Sklik.cz -->
                    <div style="display: none">
                        <iframe width="119" height="22" frameborder="0" scrolling="no" src="//c.imedia.cz/checkConversion?c=100018583&color=ffffff&v="></iframe>
                    </div>
                {% endif %}

            </div>

        </form>

        <div class="section" style="padding: 1em 0">
            <div class="content content-shrinked u-center">
            </div>
        </div>

        {{ footer | raw }}

    </div>
</div>