<div class="page">

    {{ header | raw }}

    <div id="hero" class="hero hero-middle hero-s" style="background-image: url('{{ url() }}{{ meta_image | raw }}?{{ appVersion }}')">

        <div class="hero_content js-heroContent is-active">
            <h1 class="hero_title">Úklid společných prostor</h1>
            <p class="hero_text">od 2&nbsp;400,-&nbsp;Kč/měsíc</p>
            <a class="hero_btn btn btn-blue" onClick="ga('send', 'event', 'Clicks', 'HeroOrder', 'web.services_flats');" href="{{ url_route('pageOrder') }}" title="Nezávazná poptávka úklidu">Nezávazná poptávka</a>
        </div>
    </div>

    <div class="page_content">
        <div class="breadcrumbs">
            <div itemscope itemtype="http://schema.org/BreadcrumbList" class="content content-s">
                <a itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs_item" href="{{ url() }}" title="Moje Úklidovka"><svg class="icon iconSize-m icon-house" viewBox="0 0 512 512">
                        <use xlink:href="#icon-house"></use></svg>
                    <span itemprop="name" class="hidden">Úvod</span>
                    <meta itemprop="position" content="1" />
                </a>
                <span class="breadcrumbs_separator cGrayLighter">›</span>
                <a itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs_item" href="{{ url_route('pageServices') }}" title="Úklidové služby">
                    <span itemprop="name">Úklidové služby</span>
                    <meta itemprop="position" content="2" />
                </a>
                <span class="breadcrumbs_separator cGrayLighter">›</span>
                <a itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs_item is-active" href="{{ url_route('pageFloor') }}" title="Úklid společných prostor bytových domů">
                    <span itemprop="name">Úklid společných prostor</span>
                    <meta itemprop="position" content="3" />
                </a>
            </div>
        </div>
        <div class="section section-m">
            <div class="content content-s">
                <h2 class="fs-xxl fNunito cBlue space-xxl u-mw-m u-center">Ušetřete obyvatelům Vašeho bytového domu starosti spojené s úklidem společných prostor Vašeho domu.</h2>
                <p>Sdílení úklidu společných prostor bytového domu mezi obyvateli přináší často <strong>zbytečné problémy a neshody</strong>. Dopřejte jim <strong>příjemný pocit čistoty</strong> při každém návratu domů a zbavte je zbytečného <a onClick="ga('send', 'event', 'Clicks', 'textBlogStress', 'web.services_flats');" href="{{ url() }}/blog/uklidime-vas-stres" title="Zbavte se stresu z úklidu"><strong>stresu z úklidu</strong></a>. Našim zákazníkům z řad společenství vlastníků jednotek (SVJ) a bytových družstev nabízíme pravidelný úklid společných prostor bytových domů. <a href="{{ url_route('pageServices') }}" title="Úklidové služb Praha">Úklidové služby</a> probíhají většinou jednou do týdne ale je možné se domluvit i na vyšší frekvenci úklidu.</p>
                <p>Cena za pravidelný úklid společných prostor bytových domů začíná <strong>od 2.400,- Kč/měsíc</strong> při frekvenci úklidu 1× týdně. Přitom platí, že čím větší počet bytových jednotek, tím Vám můžeme nabídnout lepší cenu za pravidelný úklid. Na osobní schůzce se společně domluvíme na rozsahu úklidových služeb, aby odpovídal potřebám Vašeho domu a <strong>splnil očekávání</strong> nejen Vaše ale i obyvatelů Vašeho domu. Níže uvádíme seznam úklidových služeb, které je možné si pro úklid v domě zvolit. Výčet je pouze orientační a jsme připraveni Vám nastavit <strong>úklid na míru</strong> dle Vašich požadavků.</p>
                <p class="space-xxxl">K úklidu společných prostor používáme <strong>profesionální úklidové prostředky</strong>, které budou nejvíce vyhovovat stavebním materiálům použitém ve Vašem bytovém domě.</p>

                <h2 class="fs-l space-m">Úklid společných prostor:</h2>
                <table class="is-styled space-xxl">
                    <tr>
                        <td>Lokalita:</td>
                        <td><strong>Praha</strong></td>
                    </tr>
                    <tr>
                        <td>Místo:</td>
                        <td>Společné prostory bytových domů</td>
                    </tr>
                    <tr>
                        <td>Cena úklidu:</td>
                        <td>od 2&nbsp;400,-&nbsp;Kč/měsíc (při frekvenci úklidu 1× týdně)</td>
                    </tr>
                    <tr>
                        <td>Související články:</td>
                        <td>
                            <ul class="is-styled">
                                <li><a class="is-highlighted" onClick="ga('send', 'event', 'Clicks', 'linkBlogStress', 'web.services_flats');" href="{{ url() }}/blog/uklidime-vas-stres" title="Uklidíme Váš stres">Uklidíme Váš stres</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>

                <div class="u-center">
                    <a class="btn btn-blue" title="Objednat úklid společných prostor bytového domu" onClick="ga('send', 'event', 'Clicks', 'TextOrder', 'web.services_flats');" href="{{ url() }}/objednat-uklid">{{ "web.order" | trans }}</a>
                </div>
            </div>
        </div>

        <div id="bytoveDomy" class="section section-l bg-grayLight">
            <div class="content content-m">
                <h3 class="cGreen fs-xl">Úklid společných prostor bytových domů:</h3>
                <p class="space-xl">Z níže uvedených činností nastavíme individuální úklidový plán šitý na míru potřebám Vašemu bytovému domu.</p>
                <div class="row row-spaced fs-s cBlack space-xxxl">
                    <div class="half half-sticked">
                        <ul class="is-styled">
                            <li>zametání a vytírání podlah společných prostor (i pod vstupními a bytovými rohožemi)</li>
                            <li>otírání hydrantů, hasicích přístrojů, skříní s rozvaděči</li>
                            <li>mytí a leštění vstupních dveří</li>
                            <li>vytírání podlahy ve výtahu</li>
                            <li>odstraňování pavučin ze stěn a stropu</li>
                            <li>otírání zvonkového panelu u vchodu do domu</li>
                            <li>otírání zábradlí a parapetů</li>
                            <li>utírání prachu ze schránek, vitrín a obrazů</li>
                            <li>vyprázdnění sběrných krabic na letáky</li>
                            <li>očištění výtahových dveří a ovládacího panelu ve výtahu</li>
                            <li>zametání chodníku před domem</li>
                        </ul>
                    </div><!--
                    --><div class="half half-sticked">
                        <ul class="is-styled">
                            <li>naleštění zrcadla ve výtahu</li>
                            <li>leštění zrcadla umístěného při vstupu do objektu</li>
                            <li>zalévání květin ve společném prostoru</li>
                            <li>umývání oken včetně žaluzií</li>
                            <li>umývání a čištění osvětlení společných prostor</li>
                            <li>očištění ocelových venkovních rohoží</li>
                            <li>vysávání koberců (např. u bytových domů s recepcí)</li>
                            <li>hloubkové čištění podlahového materiálu</li>
                            <li>ošetření a impregnace podlahového materiálu</li>
                            <li>úklid dvorku bytového domu či nejbližšího venkovního okolí</li>
                            <li>zametení stanoviště popelnic</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-m">
            <div class="content u-center">
                <h2 class="fs-xxl fNunito cGreen space-xxxl u-uppercase u-mw-m">{{ "web.title_orderEasy_floor" | trans }}</h2>
                <div class="row">
                    <div class="step">
                        <div class="stepCircle"><span>1</span></div>
                        <h3>Nezávazná objednávka</h3>
                        <p class="fs-s">Na stránce <a onClick="ga('send', 'event', 'Clicks', 'steps', 'web.{{ data.currentRouteName }}');" href="{{ url_route('pageOrder') }}" title="{{ "web.order" | trans }}">„objednat úklid“</a> <strong>jednoduše vyplníte nezávaznou</strong> poptávku úklidu vašeho domu a my se Vám co nejdříve ozveme.</p>
                    </div><!--
                    --><div class="step">
                        <div class="stepCircle"><span>2</span></div>
                        <h3>Osobní setkání</h3>
                        <p class="fs-s">Při společném setkání nastavíme úklidový plán <strong>šitý na míru</strong> Vašim potřebám a vybereme zaměstnance úklidového personálu <strong>dle Vašich preferencí</strong>.</p>
                    </div><!--
                    --><div class="step">
                        <div class="stepCircle"><span>3</span></div>
                        <h3>Profesionální úklid</h3>
                        <p class="fs-s">Ve stanovený čas prostory Vašeho bytového domu uklidí <strong>spolehlivý a odborně proškolený</strong> zaměstnanec našeho úklidového personálu.</p>
                    </div><!--
                    --><div class="step">
                        <div class="stepCircle"><span>4</span></div>
                        <h3>Spokojený zákazník</h3>
                        <p class="fs-s">Díky naší <strong>garanci spokojenosti a kvality</strong> si mohou obyvatelé Vašeho bytového domu dopřát příjemný příchod domů.</p>
                    </div>
                </div>
            </div>
            <div class="section-separateWhite">
                <div class="content u-center">
                    <a class="btn btn-ghost" onClick="ga('send', 'event', 'Clicks', 'Footer', 'web.services_flats');" href="{{ url_route('pageOrder') }}" title="Nezávazná poptávka úklidu společných prostor bytového domu">Nezávazná poptávka úklidu</a>
                </div>
            </div>
        </div>

        {{ footer_services | raw }}

        {{ footer | raw }}

    </div>
</div>