<div id="sluzby" class="services">
    <a class="services_item" href="{{ url_route('pageCareerHome') }}" title="Úklid domácností Praha" style="background-image: url('{{ url() }}/assets/web/img/uklid-domacnosti.jpg?{{ appVersion }}')">
        <div class="overCentered">
            <svg class="icon icon-home" viewBox="0 0 50 50"><use xlink:href="#icon-home"></use></svg>
            <br>
            Chci uklízet<br> domácnosti
        </div>
    </a><!--
            --><a class="services_item" href="{{ url_route('pageCareerFlats') }}" title="Úklid bytových domů v Praze" style="background-image: url('{{ url() }}/assets/web/img/uklid-bytovych-domu.jpg?{{ appVersion }}')">
        <div class="overCentered">
            <svg class="icon icon-flats" viewBox="0 0 50 50"><use xlink:href="#icon-flats"></use></svg>
            <br>
            Chci uklízet<br> bytové domy
        </div>
    </a><!--
            --><a class="services_item" href="{{ url_route('pageCareerOffice') }}" title="Úklid kanceláří Praha" style="background-image: url('{{ url() }}/assets/web/img/uklid-kancelari.jpg?{{ appVersion }}')">
        <div class="overCentered">
            <svg class="icon icon-company" viewBox="0 0 50 50"><use xlink:href="#icon-company"></use></svg>
            <br>
            Chci uklízet<br> kanceláře
        </div>
    </a>
</div>